@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.search {
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.search .content {
    color: #ffff;
    position: relative;
    text-align: center;
    z-index: 2;
}

.search h1 {
    font-size: 2.65rem;
    font-weight: 600;
}

.search p {
    font-size: 1.5rem;
    margin-top: 8px;
}

.search .search-box {
    height: 55px;
    margin: 45px 0;
    position: relative
}


.search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 55px;
    border-radius: 5px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.search-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    color: #8d8d8d;
    font-size: 1.4rem;
    transform: translateY(-50%);
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .images {
    gap: 15px;
    max-width: 95%;
    margin-top: 40px;
    columns: 5 340px;

}

.images .card {
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
}

.images img {
    width: 100%;
}